*{
    background-color: rgb(30, 29, 29);
    scroll-behavior: smooth;
}
h1{
    font-family: Arial;
}
p{
    color: white;
    margin-left: 40px;
}

.container{
    display: flex;
    justify-content:center;

}
.container-body{
    width: 65%;
}
.navbar{
    color: rgb(251, 250, 250);
    font-size: 16px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.nav-links{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    padding-right: 20px;
}
.nav-links:hover{
    color: rgb(42, 148, 42);
}

.home-section{
    font-size: 40px;
    display: flex;
    margin-top: 200px;
    margin-left: 40px;
    color: white;
}

.home-data{
    font-family: arial;
}